/*general layout*/
body {
	font-family: "Roboto",sans-serif;
	background-color: #FAFAFA;
}
.header{
	text-align: center;
	font-weight: 600;
	background-color: /*rgb(66, 93, 172);#8FBC8F;*/#008080 ;
	color: white;
}
.header-link{
	color:white;
	text-decoration-line: none;
}
.header-link:hover{
	color: white;
}

.divider{
	display: flex;
	overflow: hidden;
	justify-content: center;
}
.partei-img{
	
}
.partei-img > img{
	height: 20px;
	width: auto;
}

.headline-text {
    margin-top: 70px;
    margin-bottom: 50px;
}

.link-class{
	cursor: pointer;
	color: rgb(66, 93, 172);
	margin: 25px 0;
}

a {
    cursor: pointer;
    color: rgb(66, 93, 172);
}

a:hover {
    text-decoration: none;
    color: rgba(66, 93, 172, 0.4);
}

a:focus {
    text-decoration: none;
    color: rgba(66, 93, 172, 0.4);
}

.link-class:hover{
	text-decoration: none;
    color: rgba(66, 93, 172, 0.4);
}

.context-canvas{
	background-color: #FFF;
	padding-top: 20px;
	padding-bottom: 10px;
}

/*search field layout*/
.search{
	padding: 20px;
	background-color: #E6E6FA;/*#DCDCDC;*/
}
.form-control{
	color: black !important;
}

#search-button{
	margin: -2px 0 0 5px;
	background-color: /*rgb(66, 93, 172); #696969;*/#008080;
	display: inline-block;
	font-weight: 600;
	color: white;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#search-button:hover {
    background-color: rgba(82, 82 ,213, 0.4);
}

.search-option-label {
    color: /*rgb(66, 93, 172);/*#2F4F4F;*/#696969;
    font-weight: normal;
}

.time-select{
}

.form-group {
    margin-bottom: 25px;
}

/*layout results*/
.result{
	background-color:white;
}
.speech-result{
	margin-top: 10px;
	padding-bottom: 20px;
}
.speech-result{
}
.speech-result > .speech{
}
.speech-result .speaker{
	margin-top: 20px;
}

.snippets-in-result-list {
	margin-top: 10px;
	line-height: 1.7em;
}
.speaker >.person{
	display: inline-block;
	font-weight: 600;
}
.speaker >.party{
	display: inline-block;
	margin-left: 5px;
}
.speaker > .party > img{
	height: 10px;
	width: auto;
}
.speech-metadata {
	padding: 5px;
}
.speech-metadata > .top{
}

.speech-metadata-list {
	margin-bottom: 0px;
}

.speech-metadata-list > dd {
	margin-left: 10px;
	margin-bottom: 5px;
}

.party .option-img{
	height: 10px;
	width: auto;
}

.search-politician-canvas .easy-autocomplete-container {
	z-index: 99999;
}
.search-politician-canvas .easy-autocomplete-container img {
	height: 10px;
	width: auto;
	float: none;
}
.result-pagination{
	text-align: center;
}

.btn-link.btn-link-further-information {
    color: rgb(66, 93, 172);
    font-size: 11px;
}

.btn-link.btn-link-further-information:hover, :focus {
    text-decoration: none;
    color: rgba(66, 93, 172, 0.4);
}

.btn-link.btn-link-further-information:focus {
    text-decoration: none;
    color: rgba(66, 93, 172, 0.4);
}

.panel-heading.panel-heading-description {
    background-color: white;
    /*background-color: #E6E6FA;*/
    /*color: rgb(66, 93, 172);*/
    font-weight: bold;
}

.result-seperator {
	border-bottom: 1px solid #ccc;
}

.result-annotation {
	color: gray;
}
/*Modal styles*/
.modalToggle:hover {
	color:gray;
	text-decoration-line: none;

}
.modalToggle{
	color:black;
	
}

.modal-header{
	display: block;

}
.speaker-modal{
	display: inline-block;
}
.speaker-modal > .person{
	margin-left: 10px;
}
.modal-dialog{
   width: 50%;
   margin: auto;
}
.modal{
	margin-top: 80px;

}
.close{
	float: right;
	font-size: 16px;
}
.emotion{
	margin-left: 20px;
}

.modal-body{

	padding-left: 30px !important;
	padding-right: 30px !important;
	max-height: 600px;
	overflow-y: scroll;
	line-height: 1.9;
}
.reset-all{
	height: 0;
}
.reset{
	text-align: right ;
	/*bottom: -40px;
	right: -390px;*/
}

.chair-paragraph {
	color: darkgray;
	border: 1px solid darkgray;
	border-radius: 3px;
	padding-left: 22px;
}

.emotion-paragraph {
	color: rgb(13, 175, 175);
}
.emotion-list-item {
	margin-right: 20px;
}
.emoticon {
	margin-right: 10px;
}
.emotion-overview {
	min-height: 20px;
}
.highlight-snippet{
	background-color: #E6E6FA;
}

.speech-focus {
    border-left: 5px solid #008080;
}

.divCount {
    margin-top: 10px;
    margin-bottom: 10px;
}
.divCount .row {
	display: flex;
}
.amountResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.taxoContainer {
    background-color: #e4e4e4;
    padding-top: 15px;
    padding-bottom: 15px;
}

#search-query + .easy-autocomplete-container{
	position: relative;
}