/*Result page styles*/
.whole-speech {
	background-color: white;
	padding-top: 70px;
	 display: none;
}
.header-result-page{
	background-color: /*rgb(66, 93, 172);#8FBC8F;*/#008080 ;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
.loader {
    border: 16px solid #f3f3f3; 
    /*border-top: 16px solid #008080 ;*/ 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 2s linear infinite; 
}
.page-loader {
	padding-top: 300px;
	margin: auto;
	
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.protocol-img{
	color: #d3d3d3;
}
.icon-loader{
	text-align: center;
	color: #d3d3d3;
	animation: none !important;
}
img.partyP{
	height: 10px;
	width: auto;
	margin-right: 5px;
	margin-left: 5px;
}
.person{
	margin-left: 0px;
}
